@model PhoneStore.Models.Phone

@using (Html.BeginForm())
{
    @Html.ValidationSummary()
    <p>Производитель: @Html.EditorFor(e => e.Brand) </p>
    <p>Модель: @Html.EditorFor(e => e.Model) </p>
    <p>Цена: @Html.EditorFor(e => e.Price)</p>
    <p>Описание: @Html.TextBoxFor(e => e.Description)</p>
    <input type="submit" value="Сохранить" />
}