@using PhoneStore.UI.HtmlHelpers;

@model PhoneStore.UI.ViewModels.PhoneListViewModel


@foreach (var i in Model.Phones)
{
    <div class="well">
        <div class="pull-left" style="margin-right:10px">           
                 @if (i.Images.Value.Count != 0)
                 {
                   <img class="img-thumbnail" width="70" height="70"
                   src="@i.Images.Value[0].Image" />
                 }

        </div>
        <h3>
            <strong> @i.Model </strong>
            <span class="pull-right label label-primary">@i.Price.ToString("c")</span>
        </h3>
        <b><span class="lead">Производитель: @i.Brand</span></b>
        <br />
        <span class="lead">@i.Description</span>
    </div>
}

@Html.PageLinks(Model.PagingInfo, x => Url.Action("Ads", new { page = x }))
