
@using PhoneStore.UI.HtmlHelpers;

@model PhoneStore.UI.ViewModels.PhoneListViewModel

@{
    ViewBag.Title = "Ads";
    Layout = "~/Views/_BasicLayout.cshtml";
    AjaxOptions options = new AjaxOptions()
    {
        HttpMethod = "get",
        UpdateTargetId = "result"
    };
}

<!DOCTYPE html>
<html>
<body>
    <div class="row panel">
        <div id="categories" class="col-xs-3">
            @using (Ajax.BeginForm("Ads", "Home", options))
            {
                <div class="col-lg-6">
                    <div class="input-group">
                        <input type="text" name="filter" class="form-control" placeholder="Модель...">
                        <span class="input-group-btn">
                            <button class="btn btn-default" type="submit">Поиск</button>
                        </span>
                    </div><!-- /input-group -->
                </div>
            }
        </div>
    </div>
   
            <div id="result" class="col-xs-8">
                @Html.Partial("_PartialAds", Model)
            </div>
       
        <div class="col-xs-3">
        @using (Html.BeginForm())
        {
            @Html.ValidationSummary()
            
            <p> Модель:</p>
            @Html.TextBoxFor(x => x.Phone.Model)

            <p>Производитель:</p>
            @Html.TextBoxFor(x => x.Phone.Brand)

            <p>Описание:</p> 
             @Html.TextAreaFor(x => x.Phone.Description)
            
            <p>Цена:</p> 
            @Html.EditorFor(x => x.Phone.Price)
            
            <div style="padding-top:10px">
            <button type="submit" name="Add" class="btn-primary"> Добавить </button>
                </div>
                
         }
            </div>
</body>
</html>
