@{
    ViewBag.Title = "RegisterConfirmation";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div style="text-align: center">
    @if (@ViewBag.Status == "success")
    {
        <h4>Ваш аккаунт успешно зарегистрирован!</h4>
        <p>@Html.ActionLink("На главную", "Login", "Account")</p>
    }
    else if (@ViewBag.Status == "alreadyActive")
    {
        <h4>Ваш аккаунт уже был успешно активирован! Пожалуйста, войдите на сайт.</h4>
        <p>@Html.ActionLink("На главную", "Login", "Account")</p>
    }
    else
    {
        <h4>Введенная Вами регистрационная ссылка неправильная.</h4>
        <p>@Html.ActionLink("На главную", "Login", "Account")</p>
    }
</div>
