@model PhoneStore.Models.User
@{
    ViewBag.Title = "Registration";
    Layout = "~/Views/_BasicLayout.cshtml";
}

<div class="row">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <div>
            @using (Html.BeginForm())
            {
                <strong>@Html.ValidationSummary()</strong>
                <p>Имя: @Html.EditorFor(e => e.FirstName) </p>
                <p>Фамилия: @Html.EditorFor(e => e.LastName) </p>
                <p>Пароль: @Html.PasswordFor(e => e.Password) </p>
                <p>Повторите пароль: @Html.PasswordFor(e => e.ConfirmPassword) </p>
                <p>E-mail: @Html.EditorFor(e => e.Email) </p>
                <p>Телефон: @Html.EditorFor(e => e.ContactPhone) </p>                
                <button class="btn btn-success" type="submit">Регистрация</button>
            }
        </div>
    </div>
<div class="col-sm-4"></div>
</div>



